.add-option-error{
    color: #b5b499;
    font-style: italic;
    margin: 1.6rem 0 0 0;
    padding: 0 1.6rem;
}

.add-option{
    display: flex;
    padding: 1.6rem;
}

.add-option__input{
    background: #B1B3B5;
    border: none;
    color: #5f1724;
    border-bottom: 0.3rem solid #767779;
    flex-grow: 1;
    margin-right: 1.2rem;
    padding: 0.8rem;
    font-size: 2rem;
}

::placeholder{
    color: #E0E1E1;
}