.option{
    border-bottom: 1px solid #F2F0CC;
    display: flex;
    justify-content: space-between;
    padding: 1.6rem 1.6rem;
}
.option__text{
    color: #6C2933;
    font-weight: 500;
    font-size: 2rem;
    margin: 0;
}