.option{
    border-bottom: 1px solid #5d6277;
    display: flex;
    justify-content: space-between;
    padding: 3.2rem 1.6rem;
}
.option__text{
    color: white;
    font-weight: 500;
    font-size: 2rem;
    margin: 0;
}