.widget{
    background: white;
    margin-bottom: 3.2rem;
    box-shadow: 7px 10px 12px -5px rgba(0,0,0,0.56);
}

.widget__message{
    border-bottom: 1px solid #B1B3B5;
    color: #6C2933;
    margin: 0;
    padding: 3.2rem;
    text-align: center;
}

.widget-header{
    background: #D75265;
    color: #F2F0CC;
    display: flex;
    justify-content: space-between;
    padding: 1.6rem;
}

.widget-header__title{
    margin: 0;

}